body {
    background-color: #101D42;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}


/* Materialize Web Icons */

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.navbar {
    background-color: #0b132b;
    font-family: 'Days One', sans-serif;
}

li:hover {
    background-color: #76e7cd;
}

.user {
    float: left;
    color: white;
}

.card {
    background-color: #0b132b;
    /* width: 250px; */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    color: #ca054d
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: #ca054d;
}

.inline {
    display: inline;
}

.navList {
    display: block;
}

.button {
    margin-top: 22px;
}

.fullWidth {
    width: 100%;
    margin-bottom: 0px;
}

.noclear {
    clear: none;
}

.profileLinks {
    color: white;
}

.text-analysis {
    float: right;
}

.App {
    text-align: center;
}

.SignupBox {
    background: lightgreen;
    padding: 0.5em;
}

.LoginBox {
    background: lightblue;
    padding: 0.5em;
}

.userNav {
    border: 3px solid green;
    height: 200px;
}

.demoBox {
    border: 4px solid palegreen;
    height: 600px;
}

.carousel {
    min-height: 600px;
}

.carousel .carousel-item {
    width: 600px !important;
}

.aboutBox {
    margin-top: 100px;
}

.devs {
    display: inline-block;
}

.marginTwenty {
    margin: 20px 0px;
}

.row {
    margin-bottom: 0
}